/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

.slide {
  background: url(img/DSC00887.jpg) no-repeat center center fixed;
}

.jumbotron {
  height: 100%;
  background-color: #333;
  background: url(img/blackwhite_exterior_low.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*For Images*/
.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

